{{$animal := (index  .Animals 0) }}
<div class="article">
    <h1>{{ .Name }}</h1>

    <div class="sh-tile">
        <h2>{{$animal.Description}}</h2>

        <h3>{{$animal.Race}}</h3>

        </p>Kastriert:

        {{if $animal.Castrated}}
        Ja
        {{else}}
        Nein
        {{end}}
        </p>

        <img class="img-main" src="http://localhost:1337{{$animal.Thumbnail.data.attributes.url}}">
    </div>


    {{ $ct := .Content }}
    {{ range $section := $ct }}
        <hr>
        <h2>{{ $section.Title}}</h2>

        {{if eq $section.__component "article-section.text-gallery" }}
        <div class="section section-gallery">
            <div class="textblock">
                <span>{{$section.Text}}</span>
            </div>
            
            <div class="gallery">
                {{ range $k, $v := $section.Gallery.data }}
                <div class="gallery-entry">
                    <img class="gallery-img" src="http://localhost:1337{{$v.attributes.url}}">
                    <p>{{$v.attributes.caption}}</p>
                </div>
                {{end}}
            </div>
        </div>

        {{else if  eq $section.__component "article-section.text" }}
        <p>{{$section.Text}}</p>



        {{end}}

    {{end}}
    <hr>
    <h2>Hat {{$animal.Name}} Ihr Interesse geweckt?</h2>
</div>
<style>

.article {
    background-color: #f3ece4;
    width: 900px;
    max-width: 90%;
    padding: 15px;
}

.img-main {
    height: 200px;
    width: 250px;
    object-fit: cover;
}

.gallery {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.gallery-entry {
    display: flex;
    flex-direction: column;
}

.gallery-img {
    height: 200px;
    width: 250px;
    object-fit: cover;
}
.section {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.section-gallery .textblock {
    width: 30%;
}
.section-gallery .gallery {
    width: 60%;
}
</style>